<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <li><a href="https://www.youtube.com/channel/UCgIFIP2S-BUHnPzfOM63x3A" <i class="fa-brands fa-github"></i><span class="label">youtube</span></a></li>
			<li><a href="https://archiveofourown.org/users/TsunamiJuria/" class="fa-solid fa-box-archive"><span class="label">AO3</span></a></li>
			<li><a href="https://tsunamijuria.itch.io/" class="icon brands fa-itch-io"><span class="label">itchio</span></a></li>
      <li><a href="https://steamcommunity.com/id/TsunamiJuria/" class="icon brands fa-steam"><span class="label">steam</span></a></li>
      <li><a href="https://www.twitch.tv/tsunamijuria" class="icon brands fa-twitch"><span class="label">Twitch</span></a></li>
      <li><a href="https://github.com/BigBossFrau" class="icon brands fa-github"><span class="label">Github</span></a></li>
    
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
